config
coremods
lib
resources
stats
texturepacks-mp-cache
ForgeModLoader*
saves/*
config
coremods
lib
lastlogin
resources
stats
texturepacks-mp-cache
ForgeModLoader*
bin/jinput.jar
bin/lwjgl.jar
bin/lwjgl_util.jar
bin/md5s
bin/natives/*
bin/version
.DS_Store
screenshots/*
options.txt
crash-reports
servers.dat
*.tmp
TMI.nbt

TooManyItems.txt

saves/New World/level.dat_mcr

saves/New World/level.dat_old

saves/New World/region/r.-1.0.mca

saves/New World/region/r.0.-1.mca

saves/New World/region/r.0.0.mca

saves/New World/session.lock
/output-client.log
/output-server.log
