config
coremods
lib
resources
stats
texturepacks-mp-cache
ForgeModLoader*
saves/*
config
coremods
lib
lastlogin
resources
stats
texturepacks-mp-cache
ForgeModLoader*
bin/jinput.jar
bin/lwjgl.jar
bin/lwjgl_util.jar
bin/md5s
bin/natives/*
bin/version
.DS_Store
screenshots/*
options.txt

servers.dat

TMI.nbt

TooManyItems.txt
